@use "../../themes/themes";

.grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 0.5em;
    padding-top: 0.5em;

    .scroll-container {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0.5em 0;
    }

    .grid-column-counter,
    button {
        flex-shrink: 0;
        flex-grow: 0;
    }
}

.grid-column-counter {
    font-family: var(--font);
    padding: 0 0.5em;
}

.scroll-container {
    height: 100%;
    overflow-y: auto;
    padding: 0 0.5em;
}

.grid-item-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grid-item-color);
    border-radius: var(--border-radius);
    user-select: none;

    .grid-item {
        font-family: var(--font);
        user-select: none;
    }
}

.grid-item-placeholder {
    background-color: var(--grid-item-placeholder-color);
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
    display: flex;
}

button {
    background: none;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    font-family: var(--font);

    &:hover {
        cursor: pointer;
    }
}
