.theme-default {
    --footer-color: #ccd7d757;
    --grid-item-color: #67e13a;
    --grid-item-placeholder-color: #45e10d4f;
    --border-radius: 5px;
    --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
